<%- include("partials/navbar") %>

    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Worker Management</title>
        <link rel="stylesheet" href="/css/worker.css">
    </head>

    <body>
        <div class="worker-header">
            <div class="header">
                <div class="worker-heading">
                    <h1>Worker Management</h1>
                </div>
                <button onclick="openAddWorkerForm()">Add Worker</button>
            </div>

        </div>
        <section class="main-section">
            <p class="header-line"><strong>Manage your workforce efficiently with our intuitive tools.</strong></p>

            <div class="worker-list">
                <% workers.forEach(worker=> { %>
                    <div class="worker-box" ondblclick="redirectToTasks('<%= worker._id %>')"
                        title="Double-click to view Worker Profile & Assigned Tasks                    ">
                        <h3>
                            <%= worker.name %>
                        </h3>
                        <p><span>WorkerId:</span>
                            <%= worker._id %>
                        </p>
                        <p><span>Email:</span>
                            <%= worker.email %>
                        </p>
                        <p><span>Phone:</span>
                            <%= worker.phone %>
                        </p>
                        <p><span>Job Title:</span>
                            <%= worker.jobTitle %>
                        </p>
                        <p><span>Position:</span>
                            <%= worker.position %>
                        </p>
                        <p><span>Salary:</span> $<%= worker.salary %>
                        </p>

                        <div class="worker-actions">
                            <button class="editWorker" onclick="editWorker('<%= worker._id %>')">Edit</button>
                            <button class="deleteWorker" onclick="deleteWorker('<%= worker._id %>')">Delete</button>
                        </div>
                    </div>
                    <% }) %>
            </div>
        </section>

        <script src="/js/script.js"></script>
        <script>
            // Double-click redirect to worker tasks page
            function redirectToTasks(workerId) {
                window.location.href = `https://worker-management-nlkg.onrender.com/workers/${workerId}/tasks`;
            }
        </script>
    </body>

    </html>